<header>
  <cv-navbar title="Projects"/>
</header>
<md-button ng-click="main.newProject()" class="md-raised">New Project</md-button>

<md-card ng-show="main.isCreating">
  <md-card-content>
    <form name="projectForm" ng-submit="main.saveProject(main.project)">
      <div layout-padding layout="row" layout-sm="column">
        <md-input-container flex="70">
          <label>Title</label>
          <input ng-model="main.project.title">
        </md-input-container>
        <md-input-container flex>
          <label>Start (MM/YYYY)</label>
          <input ng-model="main.project.start">
        </md-input-container>
        <md-input-container flex>
          <label>End (MM/YYYY)</label>
          <input ng-model="main.project.end">
        </md-input-container>
      </div>
      <div layout-padding layout="row" layout-sm="column">
        <md-input-container flex>
          <label>Role</label>
          <input ng-model="main.project.role">
        </md-input-container>
        <md-input-container flex>
          <label>Customer</label>
          <input ng-model="main.project.customer">
        </md-input-container>
        <md-input-container flex>
          <label>Sector</label>
          <input ng-model="main.project.sector">
        </md-input-container>
      </div>
      <div layout-padding layout="row" layout-sm="column">
        <md-input-container flex>
          <label>Description</label>
          <textarea ng-model="main.project.description"/>
        </md-input-container>
      </div>
      <div class="md-actions" layout="row" layout-align="end start">
        <md-button type="submit" class="md-primary">Save</md-button>
      </div>
    </form>
  </md-card-content>
</md-card>

<md-card ng-repeat="project in main.projects">
  <md-card-content>
    <h2 class="md-headline">{{project.title}} <span class="md-subhead">({{project.start}} - {{project.end}})</span></h2>

    <div layout="row" layout-fill>

      <div layout="column" flex="25" layout-fill>
        <div flex class="md-caption">Role</div>
        <div flex>{{project.role}}</div>
      </div>
      <div layout="column" flex="25" layout-fill>
        <div flex class="md-caption">Client</div>
        <div flex>{{project.customer}}</div>
      </div>
      <div layout="column" flex="25" layout-fill>
        <div flex class="md-caption">Sector</div>
        <div flex>{{project.sector}}</div>
      </div>
    </div>
    <!--<div layout="row" layout-margin>-->
    <div layout="column">
      <div flex>&nbsp;</div>
      <div flex class="md-caption">Description</div>
      <div flex>{{project.description}}</div>
    </div>
    <!--</div>-->
  </md-card-content>
  <div class="md-actions" layout="row" layout-align="end start">
    <md-button ng-click="main.editProject(project)">Edit</md-button>
    <md-button>Delete</md-button>
  </div>
</md-card>
