<div layout="column" layout-fill>

  <md-content>
    <header>
      <cv-navbar title="Projects"/>
    </header>
    <md-card ng-repeat="project in main.projects._embedded.projects">
      <md-card-content>
        <h2>{{project.title}}</h2>

        <p>{{project.description}}</p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end start">
        <md-button ng-click="main.editProject(project)">Edit</md-button>
        <md-button>Delete</md-button>
      </div>
    </md-card>
  </md-content>

</div>
