<header>
  <cv-navbar title="Projects"/>
</header>
<div layout="row" layout-align="end start">
  <md-button ng-click="main.newProject()" class="md-fab md-mini">
    <md-icon>add</md-icon>
  </md-button>
</div>
<project-form project="main.project" on-save="main.onSave()" on-cancel="main.onCancel()"
              ng-show="main.editing"></project-form>

<md-card ng-repeat="project in main.projects">
  <md-card-content>
    <h2 class="md-headline">{{project.title}} <span class="md-subhead">({{project.start}} - {{project.end}})</span></h2>

    <div layout="row" layout-fill>
      <div layout="column" flex="25" layout-fill>
        <div flex class="md-caption">Role</div>
        <div flex>{{project.role}}</div>
      </div>
      <div layout="column" flex="25" layout-fill>
        <div flex class="md-caption">Client</div>
        <div flex>{{project.customer}}</div>
      </div>
      <div layout="column" flex="25" layout-fill>
        <div flex class="md-caption">Sector</div>
        <div flex>{{project.sector}}</div>
      </div>
    </div>
    <div layout="column">
      <div flex>&nbsp;</div>
      <div flex class="md-caption">Description</div>
      <div flex>{{project.description}}</div>
    </div>
    <div class="md-actions" layout="row" layout-align="end start">
      <md-button class="md-icon-button" ng-click="main.editProject(project)">
        <md-icon aria-label="Edit">mode_edit</md-icon>
      </md-button>
      <md-button class="md-icon-button" ng-click="main.deleteProject(project)">
        <md-icon aria-label="Delete">delete</md-icon>
      </md-button>
    </div>
  </md-card-content>
</md-card>
